*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#menu{
  box-shadow: -1px 18px 18px -10px rgba(0,0,0,0.56);
  background-color: white !important;
  position: absolute;
  width: 100%;
  z-index: 2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#text{
  color: black;
}

#text-active{
  color: white;
  background-color: #a6161a;
  padding: 1px 15px;
  border-radius: 16px;
}

li.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
    font-size: 1.2em;
}
 
@media (min-width: 992px){
  #offcanvasNavbar{
    background-color: transparent !important;
  } 
}
.offcanvas-end {
  width: auto !important; 
}
#offcanvasNavbar{
  background-color: white;
}
#bot{
  border: none;
  box-shadow: none;
}
#h5{
  color: black;
}
#ham{
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(240,240,240, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>") !important;
}

  article{
      width: 70%;
      min-height: 100vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }

section.tit{
    margin-top: 60px;
    width: 30%;
    height: 520px;
    min-height: 250px;
    background-color: #062f4f;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

section.tit h1{
    color: white;
    font-family: valorant;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 0%;
    padding-right: 10px;
}

section.tit h1.sub{
    background-color: white;
    color: #062f4f;
}

section.form{
    margin-top: 60px;
    width: 70%;
    height: 520px;
    min-height: 250px;
    border: 3px solid #062f4f;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

input{
    color: #a6161a;
    width: 80%;
    border: none;
    border-bottom: 3px solid #062f4f;
    font-size: 1.2em;
}

div.boton{
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

input.btn{
    border-radius: 16px;
    background-color: #a6161a;
    color: white;
    padding: 2px 2px;
    width: 130px;
    border: none;
    font-family: valorant;
    font-size: 1.3em;
}

input::placeholder{
    color: #062f4f;
}

input.btn:hover{
    color: white;
}

label{
    width: 80%;
    color: #a6161a;
    font-size: 1.6em;
}

select{
    width: 80%;
    border: none;
    border-bottom: 3px solid #062f4f;
    border-radius: 5px;
    font-size: 1.2em;
}

@media screen and (max-width: 780px) {
  article{
    width: 95%;
    flex-wrap: wrap;
  }

  section.tit{
    width: 95%;
    margin-top: 110px;
    align-items: normal;
    height: auto;
  }

  section.tit h1{
    text-align: center;
  }

  section.form{
    width: 95%;
    margin-top: 0px;
    margin-bottom: 20px;
  }

}