*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
}

#menu{
    box-shadow: -1px 18px 18px -10px rgba(0,0,0,0.56);
    background-color: #062f4f !important;
    position: absolute;
    width: 100%;
    z-index: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #text{
    color: white;
  }
  
  #text-active{
    color: white;
    background-color: #a6161a;
    padding: 1px 15px;
    border-radius: 16px;
  }

  li.nav-item{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px 15px;
      font-size: 1.2em;
  }
   
  @media (min-width: 992px){
    #offcanvasNavbar{
      background-color: #062f4f !important;
    } 
  }
  #offcanvasNavbar{
    background-color: #062f4f;
  }
  .offcanvas-end {
    width: auto !important; 
  }
  #bot{
    border: none;
    box-shadow: none;
  }
  #h5{
    color: white;
  }
  #ham{
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(240,240,240, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>") !important;
  }

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}

div.inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 150px;
}

div.cajita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 250px;
    margin-bottom: 100px;
}

.btn{
    background-color: #a6161a;
    color: white;
    border-radius: 20px;
}

.btn:hover{
    color: white;
}

input{
    border: 2px solid #a6161a;
    padding: 10px;
}

label{
    color: #a6161a;
    font-size: 1.4em;
    margin-bottom: 5px;
}

div.tabla{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

table{
    width: 100%;
    border: #062f4f 2px solid;
}

td{
    padding: 10px;
    border-bottom: 1px solid #062f4f;
}

th{
    padding: 10px;
    background-color: #062f4f;
    color: white;
    text-align: center;
}

@media screen and (max-width: 780px) {
  form{
    margin-top: 450px;
    margin-bottom: 2px;
  }

  div.inputs{
    flex-wrap: wrap;
    height: 300px;
  }
  table{
    margin-top: 15px;
  }
  td{
    text-align: center;
  }
}